.gallery {
  display: flex;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: saddlebrown;
}
p {
  font-family: "Courier New", monospace;
  font-size: 25px;
  color: peru;
}
.wrapper {
  background-color: #f3e1c5;
  width: 95%;
  max-width: 100%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 28px;
}
.wrapper2 {
  background-color: #eabd77;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
button {
  height: 50px;
  width: 200px;
  margin-bottom: 16px;
  border-width: 2px;
  background-color: #f3e1c5;
  color: peru;
  font-size: 25px;
  font-family: "Courier New", monospace;
}
.skicka button {
  height: 50px;
  width: 200px;
  margin-bottom: 16px;
  border-width: 2px;
  background-color: peru;
  color: peru;
  font-size: 25px;
  font-family: "Courier New", monospace;
}
input {
  background-color: #f8efe0;
  width: 350px;
  height: 50px;
  margin-bottom: 16px;
  font-family: "Courier New", monospace;
}
input,
input::-webkit-input-placeholder {
  font-size: 25px;
  font-stretch: expanded;
  line-height: 3;
  font: optional;
  color: peru;
}
textarea {
  background-color: #f8efe0;
  width: 50%;
  height: auto;
  font-size: 25px;
  font-stretch: expanded;
  line-height: 3;
  color: peru;
  text-indent: 5px;
  margin-bottom: 16px;
}
body {
  background-color: #eabd77;
  height: 1170px;
  font-family: "Courier New", monospace;
}
html {
  height: 1170px;
}
